# frontend
frontend/node_modules
frontend/dist
frontend/.env

# backend
backend/**/bin
backend/**/obj
backend/.vs
backend/.idea

# vscode
.vscode/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# user files
*.user
*.suo